body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-content, .header {
    margin: 5px;
}

.widget {
    background-color: #ecf0f1;
    padding: 20px;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget h3 {
    font-size: 20px;
    margin-top: 0;
}

.widget p {
    font-size: 16px;
    color: #7f8c8d;
}

nav ul {
    list-style: none; padding: 0;
    display: flex; background: #333;
    padding: 10px;
    margin-top: 0px;
}

nav ul li {
    margin-right: 15px;
    display: flex;
    align-items: center; /* Vertically centers the text inside the li */
}

nav ul li a, nav ul li a h2 {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    display: block;
}

nav ul li a h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

nav ul li a:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
}

.login-button {
    margin-left: auto;
}

/* Edit Button Style */
.edit-button {
    background-color: #4CAF50; /* Green background */
    color: white;              /* White text */
    padding: 10px 20px;        /* Padding */
    text-align: center;        /* Center the text */
    text-decoration: none;     /* Remove underline */
    border-radius: 5px;        /* Rounded corners */
    border: none;              /* Remove border */
    cursor: pointer;          /* Pointer cursor on hover */
    font-size: 16px;           /* Set font size */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.edit-button:hover {
    background-color: #45a049; /* Darker green when hovered */
    transform: translateY(-2px); /* Slightly raise the button */
}

.edit-button:active {
    background-color: #388e3c; /* Even darker green on click */
    transform: translateY(2px); /* Button moves down a little */
}

.edit-button:focus {
    outline: none; /* Remove outline on focus */
}
